* {
  font-family: "Courier New", Courier, monospace;
}

body {
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}

p {
  text-align: left;
  font-size: 30px;
}

button {
  padding: 8px 15px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: bold;
  transition: 2s;
}

button:hover {
  box-shadow: 0 0 10px #333, 0 0 10px #333, 0 0 10px #333;
}

.night {
  background-color: black;
  color: #fff;
}

.night button {
  background-color: #fff;
  color: #000;
}

.night button:hover {
  box-shadow: 0 0 10px #ddd, 0 0 10px #ddd, 0 0 10px #ddd;
}
